<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
      table, tr, td, p {
        font-family: 'IBM Plex Sans', sans-serif;
      }
    </style>
  </head>
  <body style="margin:0;padding:0;">
    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
	
      <tr>
        <td align="center" style="padding:6% 0 6% 0;background:#000000;">
          <img src="https://zamzam-assets.s3.ap-south-1.amazonaws.com/main-logo-white.png" alt="" style="width:25%;height:auto;display:block;">
        </td>
      </tr>
	  
      <tr>
        <td style="padding:0 10% 0 10%;">
          <table style="width:100%;margin-top:30px;border-collapse:collapse;border:0;border-spacing:0;border:1px solid #cccccc;">
            <tr>
              <td style="padding:0;">
                <h1 class="header" align="center" style="font-family:'IBM Plex Serif',serif;font-size:1.5rem;letter-spacing:0.5px;margin-top:30px;margin-bottom:30px;">Verification Success!</h1>
              </td>
            </tr>
          </table>
        </td>
      </tr>
	  
      <tr>
        <td style="padding:0 10% 0 10%;">
          <table style="width:100%;margin-top:30px;border-collapse:collapse;border:0;border-spacing:0;border:1px solid #cccccc;">
            <tr>
              <td style="padding:5% 10%;">
                <h1 class="paragraph" style="font-family:'IBM Plex Sans', sans-serif;font-size:0.9rem;font-weight:400;letter-spacing:0.5px;text-align:left;">
                  You have successfully verified your {{verificationType}},
                  you can now continue the registration process.<br /><br />
                  If this was not you, it is possible that someone else is trying to use your {{verificationType}}
                  to create an account on zamzam. To delete the account created on zamzam using this {{verificationType}},
                  please contact us on myaccount@zamzam.net<br /><br />
                  Best,<br />
                  Team zamzam
                </h1>
              </td>
            </tr>
          </table>
        </td>
      </tr>
	  
      <tr>
        <td style="padding:0 10% 0 10%;">
          <table style="width:100%;margin-top:30px;border-collapse:collapse;border:0;border-spacing:0;border:1px solid #cccccc;">
            <tr>
              <td style="padding:5% 10%;">
                <p style="font-family:'IBM Plex Sans', sans-serif;font-size:0.8rem;font-weight:400;letter-spacing:0.5px;color:#cccccc;text-align:left">
                  This email was sent from a notification-only address that does not accept incoming email. Please do not reply to this message.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
	  
      <tr>
        <td style="padding:0 40% 0 40%;">
          <table style="width:100%;margin-top:30px;border-collapse:collapse;border:0;border-spacing:0;border:none;">
            <tr align="center">
              <td style="padding:0;">
                <a href="https://twitter.com/"><img src="https://zamzam-assets.s3.ap-south-1.amazonaws.com/twitter-icon.png" alt="" style="width:70%;height:auto;display:block;"></a>
              </td>
              <td style="padding:0;">
                <a href="https://instagram.com/"><img src="https://zamzam-assets.s3.ap-south-1.amazonaws.com/instagram-icon.png" alt="" style="width:70%;height:auto;display:block;"></a>
              </td>
              <td style="padding:0;">
                <a href="https://www.facebook.com/"><img src="https://zamzam-assets.s3.ap-south-1.amazonaws.com/facebook-icon.png" alt="" style="width:60%;height:auto;display:block;"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
	  
      <tr>
        <td style="padding:0 5% 0 5%;">
          <table style="width:100%;margin-top:20px;border-collapse:collapse;border:0;border-spacing:0;border:none;">
            <tr>
              <td align="center" style="padding:0 10%;font-family:'IBM Plex Sans',sans-serif;font-weight:400;letter-spacing:0.5px;">
                <p class="copyrights" style="font-family: 'IBM Plex Sans',sans-serif;font-size:0.8rem;font-weight: 400;letter-spacing: 0.5px;color: #cccccc;">
                  Copyright ©2021 zamzam Media Pvt Ltd. All rights reserved.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <style>
      @media only screen and (max-width: 600px) {
        body, table, tr, td, p, .copyrights {
          font-size: 0.6rem;
        }
        .header {
          font-size: 1.5rem;
        }
      }
    </style>
  </body>
</html>
